/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #F6F8F9;
}
/* Inizio Header */
header {
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
}
#logo {
    vertical-align: middle;
}
h1 {
    display: inline-block;
    vertical-align:middle;
}
/* Fine Header */
.container {
    width: 75%;
    margin: auto;
    background-color: white;
}
/* Inizio Button */
.lightblue {
    padding: 8px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #47ADF1;
    color: white;
    border-radius: 8px;
    width: 100px;
    margin-bottom: 10px;
    border: 2px solid #47ADF1;
}
.white {
        padding: 8px;
        margin-top: 20px;
        background-color: white;
        border-radius: 8px;
        width: 120px;
        border: 2px solid #D1D6DA;
        color: #D1D6DA;
}
hr {
    border: 2px solid #F6F8F9;
}
/* Fine Button */
.list {
    margin-left: 50px;
}
.line {
    line-height: 20px;
    display: inline-block;
    margin-top: 10px;
}
h3 {
    margin-top: 30px;
}
.check {
    color: #60BFA9;
    border-radius: 50%;
    border: 1px solid #60BFA9 ;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
}
.etichetta{
    font-size: small;
    color: white;
    background-color: #45ABEA;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}
.interlinea {
    margin-top: 5px;
}
.purple {
    background-color: #9C72E4;
}